@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:ital,wght@0,100;0,600;0,700;1,200;1,300&display=swap");

.footer {
	margin-top: 15%;
	font-family: "Comfortaa", cursive;
	font-family: "Montserrat", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 980px) {
	.footer {
		margin-top: 40%;
		font-family: "Comfortaa", cursive;
		font-family: "Montserrat", sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
	}
	
}
